*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 90%;
    height: 90%;
    background-color: white; 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.container {
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1em 1fr;
    width: 100vw;
    height: 100vh;
}


 .host--acommodation {
    display: inline-grid;
    background: rgb(217,214,245);
    background: linear-gradient(200deg, rgba(217,214,245,1) 37%, rgba(245,214,229,1) 76%, rgba(255,198,155,1) 99%);
}

.host--acommodation h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff ;
    justify-self: center;
}

/* .host-acomm {
    test
} */
form {
}

form input {
    width: 230px;
    height: 80px;
    background-color: #fff;
    border-radius: 25px;
    /* box-sizing: border-box; */
    border: 1px solid #9B9B9B;
    justify-items: center;
}

