* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.column-info--container {
    float: left;
    width: 50%;
    text-align: center;
}

.column-info--container h2 {
    color: #ffffff;
    font-size: 2.4rem;
}

.column--button {
    width: 271px;
    height: 60px;
     padding: 15px 10px; 
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #1572A1;
    border-radius: 32px;
  
}


.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-img--container
  span {
    display: inline-block;
    width: 50%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/8543014/pexels-photo-8543014.jpeg?cs=srgb&dl=pexels-mikhail-nilov-8543014.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 } 